<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--默认为FaceKey1，如有多个APIKey请依次添加Key2，Key3等（不限量，只要包含FaceKey关键词即可）-->
    <add key="Facekey1" value="827ed8461d9b4b649fc4c111d7cd7f75"/>
    <!--<add key="Facekey2" value="51580d059b934b7f93496b2064850ff9"/>
    <add key="Facekey3" value="1b70482a9c35b236639019cd8b2ecb03"/>
    <add key="Facekey4" value="430b10957c582b7110ad156a42ade683"/>-->
  </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.1" />
      <httpRuntime targetFramework="4.5.1" />
    </system.web>

</configuration>
