<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>批量水印加强版（人脸识别）</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div id="main">
        @ViewBag.ErrorInfo
    </div>
    <script type="text/javascript" src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" async></script>
    <script type="text/javascript">
        $(function () {
            
        });
    </script>
</body>
</html>